@media screen and (max-width:720px) {

    //Menú hamburguesa
    .nav {
        padding: 10px 8vw 10px 8vw;

        .menu {
            display: none;
        }

        .logo {
            width: 30px;
            margin-left: 0px;
        }

        .activo {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 40px;
            height: 100vh;
            width: 100vw;
            backdrop-filter: blur(10px);
            background-color: hsla(0, 0%, 14%, 0.8);
            transition: all 0.8s ease;
            animation: bar .8s both ease-in-out ;

            li,
            a {
                z-index: 99;
                font-size: 15px;
                text-align: center;

            }

        }

        .burguer {
            display: inline-block;
            width: 6vw;

        }

        .burguer:active {
            transform: rotate(360deg);
        }
    }

    .redes-sociales {
        display: none;
    }


    .nuevoBar {
        backdrop-filter: blur(10px);
        background-color: hsla(0, 0%, 14%, 0.8);
        transition: all 0.8s ease;
        height: 40px;

        li,
        a {
            transform: scale(0.88);
            transition: transform 0.8s ease;

        }

        img {
            transform: scale(0.88);
            transition: transform 0.8s ease;
        }

        padding-bottom: 0px;
        padding-top: 4px;

    }

    @keyframes bar {
        0%{
            display: none;
            height: 0px;

        }
        50%{
            
        }
        100%{
            display: flex;
            height: 100vh;
        }
    }

    //INICIO


    .principal {
        padding-top: 0;
        height: 100vh;
        align-items: center;
        display: flex;

        .cont-texto {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 100px;

            .texto-izquierdo {
                display: flex;
                flex-direction: column;



                h1 {
                    font-size: 2.45em;
                    max-width: 95%;
                    align-self: center;

                }

                .btnEmpecemos {
                    width: 180px;
                    font-size: 13px;

                    &:hover {
                        color: #FFF;
                        background: #3498db;
                    }
                }
            }

            .colorP {
                color: #333;
            }

            .contenedor-icono {
                left: 46%;
                font-size: 35px;


            }
        }

        .texto-derecho {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100vw;
            padding-top: 70px;
            height: 30vh;
            top: 0;

            img {
                width: 32vw;
                align-self: center;
                padding-bottom: 50px;
            }

            transform: translate(0px, 0px);


            h1 {

                font-size: 27px;
            }

            h2 {
                font-size: 18px;
            }

        }
    }


    .presentacion {
        display: block;
        flex-direction: column;
        height: 90vh;
        width: 100vw;
        padding-top: 0px;
        padding-left: 0vw;
        padding-right: 0vw;


        &::before {
            content: "Acerca de mi";
            font-size: 10vw;
            border-left: #3498db 5px solid;
            padding-left: 10px;
            font-weight: 500;
            margin-left: 10vw;
            margin-bottom: 50px;
        }

        .presentacion-izquierda {
            display: flex;
            justify-content: center;

            .yo {
                width: 43vw;
                margin-top: 30px;

            }
        }


        .presentacion-derecha {
            padding-left: 10vw;
            padding-right: 10vw;
            width: 100vw;
            display: block;

            h2 {
                display: none;

            }

            p {
                font-size: 3.2vw;
            }

            .uno {
                padding-top: 35px;
            }

            .logos {
                margin-left: 10vw;
                margin-right: 10vw;

                .presentacion-logos img {
                    width: 15vw;
                    padding: 5px;
                    transition: all .3s ease;

                }

                .presentacion-logos {
                    transition: all .3s ease;

                    &::after {
                        transition: background 0.5s ease;
                        content: " ";
                        background-color: #fff;
                        opacity: .7;
                        filter: blur(.33rem);

                    }

                }

                .presentacion-logos:hover {
                    transform: scale(1.1);

                    &::after {
                        content: " ";
                        position: absolute;
                        display: inline-block;
                        transform: translate(-128%, 16vh);
                        width: 5vw;
                        height: 10px;
                        background-color: #505050;
                        opacity: .7;
                        filter: blur(.33rem);

                    }
                }
            }

        }

    }

    .galeria {
        display: flex;
        width: 100vw;
        align-self: center;
        padding-top: 75px;
        margin-left: 8vw;
        padding-right: 8vw;
        flex-direction: column;
        z-index: 1;


        .foto {
            flex: none;
            max-width: 90%;
            height: 25vh;
            position: relative;
            margin-bottom: 25px;
            border-radius: 8px;

            .miGithub {
                img {

                    width: 100%;
                    height: 25vh;
                    object-fit: scale-down;
                }

            }


            img {
                width: 100%;
                height: 25vh;
                object-fit: cover;
                border-radius: 5px;
            }

            &:hover {
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
            }

            .overlay {

                h5 {
                    font-size: 13px;
                    padding-bottom: 10px;


                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                        transform: translateY(2px);
                    }
                }

                p {
                    color: #fff;
                    font-size: 11px;


                }

                a {
                    padding-top: 0px;
                    font-size: 11px;

                    &:hover {
                        color: #fff;
                    }

                }
            }
        }
    }


    .foto:hover .overlay {
        height: 100%;
        border-radius: 5px;
    }

    .correciones-galeria {
        width: 100vw;
        padding-top: 75px;
        margin-left: 8vw;
        margin-right: 8vw;

        &::before {
            content: "PROYECTOS";
            font-size: 2em;
            line-height: 0.9em;
            font-weight: 900;
            width: 80px;
            text-align: center;
            color: #222;
            font-family: $josefin;
            text-transform: uppercase;
            border-left: 5px solid #53b4f5;
            margin-top: 40px;
            margin-bottom: 30px;

        }
    }


    .container-title {
        width: 60px;
        height: 74vh;
        position: absolute;
        margin-left: calc(10.3vw - 15px);
        margin-top: 12vh;
    }


    .title-proyectos {
        font-size: 4em;
        line-height: 0.9em;
        font-weight: 900;
        width: 80px;
        text-align: center;
        color: #222;
        font-family: $josefin;
        text-transform: uppercase;
        position: initial;
        display: none;
        border-bottom: 5px solid #53b4f5;
    }


    #fp-nav ul li a span {
        background: #3584a7;
        margin: 0;
    }

    #fp-nav ul li .fp-tooltip {
        color: #333 !important;
        font-family: 'Quicksand', sans-serif;
    }

    .display-none {
        display: none !important;
    }



    .title-form {

        h2 {
            font-size: 2.2em;
            font-family: $jost;
            margin-top: 80px;

            &::before {
                content: "";
                border-left: #3498db 5px solid;
                margin-right: 5px;
            }
        }



    }

    .info {
        display: flex;
        flex-wrap: wrap;
        margin-left: 6vw;
        margin-right: 3vw;
        margin-top: 20px;
        justify-content: center;

        .direccion {
            margin: 0px 15px 0px 0px;
            order: 3;
            font-size: 11px;
            color: #222;
            padding: 10px 0 10px 0;
            margin-bottom: 10px;
            width: 100%;
            max-width: 37vw;


        }

        .tel {
            order: 1;
        }

        .email {
            max-width: 80vw;
        }

        img {
            width: 40px;
            margin-bottom: 5px;
        }
    }


    form {
        display: flex;
        flex-wrap: wrap;
        margin: 0vw 9vw;
        margin-right: 9vw;

        .arriba {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 20px;

            input {
                width: 45%;
                height: 20px;

            }
        }

        .abajo {
            width: 93.2%;
            margin-top: 12px;

            input {
                width: 100%;
                height: 28px;
                margin-left: 3.7%;
            }
        }

        textarea {
            width: 93.2%;
            margin-left: 3.5%;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: $open;

            &::placeholder {
                padding-left: 5px;
            }

            &:focus {
                color: #555;
                padding-left: 5px;
                // background: linear-gradient(to bottom, transparent, #3498db43);
                outline: none;
                overflow: none;
                border: 1px rgba(85, 85, 85, 0.638) solid;
            }
        }

        input[type=submit] {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #53b4f5;
            width: 80px;
            font-size: 16px;
            font-family: $jost;
            padding-bottom: 4px;
            margin-bottom: 8px;
            margin-left: 47%;
            transition: all .3s ease;

            &:hover {
                transform: scale(1.08);
                border-bottom: 2px solid #3498db;
            }
        }

        input {
            &::placeholder {
                padding-left: 5px;
            }


        }

    }

}