@media screen and (max-width:720px) {

    //Menú hamburguesa
    .nav {
        padding: 10px 8vw 10px 8vw;

        .menu {
            display: none;

        }

        .logo {
            width: 30px;
            margin-left: 0px;
        }

        .activo {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 50px;
            height: 100vh;
            width: 100vw;
            backdrop-filter: blur(10px);
            background-color: hsla(0, 0%, 14%, 0.8);
            transition: all 0.8s ease;

            li,
            a {
                z-index: 99;
                font-size: 15px;
                text-align: center;

            }

        }

        .burguer {
            display: inline-block;
            width: 6vw;

        }

        .burguer:active {
            transform: rotate(360deg);
        }
    }

    .redes-sociales {
        display: none;
    }

    //INICIO


    .principal {
        padding-top: 60px;
        height: 100vh;
        align-items: center;
        display: flex;

        .cont-texto {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 100px;

            .texto-izquierdo {
                display: flex;
                flex-direction: column;

                

                h1 {
                    font-size: 2.45em;
                    max-width: 95%;
                    align-self: center;

                }

                .btnEmpecemos {
                    width: 180px;
                    font-size: 13px;

                    &:hover {
                        color: #FFF;
                        background: #3498db;
                    }
                }
            }

            .colorP {
                color: #333;
            }

            .contenedor-icono {
                left: 46%;
                font-size: 35px;


            }
        }

        .texto-derecho {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100vw;
            padding-top: 70px;
            height: 30vh;
            top: 0;

            img {
                width: 32vw;
                align-self: center;
                padding-bottom: 50px;
            }

            transform: translate(0px, 0px);


            h1 {

                font-size: 27px;
            }

            h2 {
                font-size: 18px;
            }

        }
    }


    .presentacion {
        display: block;
        flex-direction: column;
        height: 80vh;
        width: 100vw;
        padding-top: 0px;
        padding-left: 0vw;
        padding-right: 0vw;

    
        &::before{
            content: "Acerca de mi";
            font-size: 10vw;
                border-left: #3498db 5px solid;
                padding-left: 10px;
                font-weight: 500;
                margin-left: 10vw;
                margin-bottom: 50px;
        }
        .presentacion-izquierda {
            display: flex;
            justify-content: center;

            .yo {
                width: 43vw;
                margin-top: 30px;

            }
        }
    
    
        .presentacion-derecha {
            padding-left: 10vw;
            padding-right: 10vw;
            width: 100vw;
            display: block;
            h2 {
               display: none;
     
            }
    
            p {
                font-size: 3.2vw;
            }
    
            .uno {
                padding-top: 35px;
            }
    
            .logos {
                margin-left: 10vw;
                margin-right: 10vw;
    
                .presentacion-logos img{
                    width: 15vw;
                    padding: 5px;
                    transition: all .3s ease;
                
                }
    
                .presentacion-logos{
                    transition: all .3s ease;
                    &::after{
                        transition: background 0.5s ease;
                        content: " ";
                        background-color: #fff;
                        opacity: .7;
                        filter: blur(.33rem);
                     
                    }
    
                }
            
                .presentacion-logos:hover{
                    transform: scale(1.1);
                   
                    &::after{
                        content: " ";
                        position: absolute ;
                        display: inline-block;
                        transform: translate(-128%, 16vh);
                        width: 5vw;
                        height: 10px;
                        background-color: #505050;
                        opacity: .7;
                        filter: blur(.33rem);
                     
                    }
                }
            }
    
        }
    
    }



}