@media screen and (max-width:580px) {

    .logo {
        width: 30px;
        margin-left: 50px;

    }

    .portada img {
        padding-right: 20px;
        width: 47vw;

    }

    .portada {
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
    }

    .portada img {
        align-self: center;
        order: -1;
        width: 80vw;
        padding-right: 0px;
    }

    .portada div button {
        width: 200px;
        font-size: 14px;
        padding: 6px 15px;
        border-radius: 50px;

    }

    .text-portada {
        font-size: 10vw;
        max-width: 400px;
        margin: 50px 0px 10px 0px;
    }

    .title-proyectos {
        margin-top: 70px;
        font-size: 7vw;
    }



    .text-portada {
        align-self: center;
        text-align: center;
        font-size: 55px;
        max-width: 500px;

    }


    .presentacion {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-items: space-between;
        padding:10vh 8vw 5vw 8vw;

    }

    .yo {
        width: 50vw;
        border-radius: 5%;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.39);
        border-bottom: #3498db 3px solid;
        align-self: center;
   
    }

    .acerca{
        font-size: 7.5vw;
        border-left: #3498db 5px solid;
        padding-left: 10px;
        margin-bottom: 40px;

        margin-top: 0px;
        display: inline-block;
    }
   

    .presentacion-derecha {
        padding-left: 0vw;
    }

    .presentacion-derecha h2 {
        display: none;
    }

    .presentacion-derecha p {
        font-size: 4vw;
        text-align: justify;
    
    }


    .carousel {
        box-shadow: 1px 1px 3px 3px rgba(68, 68, 68, 0.371);
        z-index: 0;
        margin: 0px 10px 10px 10px;
    }
    

    
    .title-proyectos {
        font-size: 7.5vw;
        border-left: #3498db 5px solid;
        padding-left: 10px;
        margin-bottom: 40px;
        margin-left: 8vw;
    }
    

}