.contacto{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(93,94,98);
    background: radial-gradient(circle, rgba(93,94,98,1) 0%, rgba(147,146,146,1) 100%);
    width: 76%;
    margin-left: 12%;
    box-shadow: 0 12px 12px  rgb(0, 0, 0, .5);
}

.email{
    max-width: 20vw;
    flex: 1;
}

.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 40vw;
    
    
}

.input {
    outline: none; 
    margin-bottom: 20px;
    width: 30vw;
    background: linear-gradient(to bottom, transparent, #333);
    border: none;
    border-left: #2CBFAE 2px solid; 
    height: 4vh;
  
}

.mensaje{
    margin-top: 20px;
    width: 30vw;
    background: linear-gradient(to bottom, transparent, #333);
    outline: none;
    border: none;
    border-left: #2CBFAE 2px solid; 
    resize: none;
}

.mensaje::placeholder{
    color:#BBB;
}

.mensaje:focus{
    color: #FFF;
    background: linear-gradient(to bottom, transparent, #4bc);
}

.input::placeholder{
    color:#BBB;
}

.input:focus{
    color: #FFF;
    background: linear-gradient(to bottom, transparent, #4bc);
}


.select{
    width: 30vw;
    background: linear-gradient(to bottom, transparent, #333);
    outline: none;
    border: none;
    border-left: #2CBFAE 2px solid; 
    color: #BBB;
}

.select option{
    color: rgba(100,100,100,1) ;

}

.select:active{
    color: #2CBFAE;
}


.contacto-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-right: 70px;
    justify-content: center;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacto-left h2{
    font-size:3.5vw;
    color: #FFF;
    text-shadow: 4px 4px 4px rgba(150,150,150,1);
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-left: 14px;
    border-left: #2CBFAE 4px solid;
}

.contacto-left img{
    width: 14vw;
}

.nav:hover{
    color: #222222;
}

.buttom{
    background: linear-gradient(to bottom, transparent, #333);
    outline: none;
    border: none;
    width: 20vw;
    align-self: center;
    margin-top: 20px;
    border-left: #2CBFAE 2px solid; 
    margin-bottom: 30px;
    
}

.buttom:hover{
    background: linear-gradient(to bottom, transparent, #4bc);
}

.one{
    margin-top: 50px;
}

