html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

.acerca{
    display: none;
}


.container-nav {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    height: 72px;
    background: #FFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    top: 0px;
    z-index: 100;

}

.menu li:nth-child(4) {
    padding-right: 100px;
}

.menu li {
    list-style-type: none;
    list-style: none;
    display: inline-block;
    align-content: center;
}

.nav-ul a {
    text-decoration: none;
    color: #555555;
    padding: 25px 25px;


}

.nav-ul i {
    padding-right: 15px;
    padding-top: 3px;
}

.logo {
    width: 40px;
    margin-left: 160px;
    fill: #FFF;
    margin-top: -15px;
}

.portada {
    display: flex;
    padding-top: 70px;
    justify-content: space-evenly;
}

.portada img {
    padding-right: 50px;
}

.portada div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.portada div button {
    background: transparent;
    border: #3498DB solid 2px;
    border-radius: 80%;
    width: 250px;
    align-self: center;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    outline: none;
    color: #3498db;
  
}

.portada div button:hover{
    animation-name: empecemos;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}



.text-portada {
    align-self: center;
    text-align: center;
    font-size: 55px;
    max-width: 500px;

}


.presentacion {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    padding: 10vh 12vw;

}

.yo {
    width: 30vw;
    border-radius: 10%;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.39);
    border-bottom: #3498db 5px solid;
}

.presentacion-derecha {
    flex: 1;
    padding-left: 10vw;
}

.presentacion-derecha h2 {
    font-size: 3.5vw;
    border-left: #3498db 5px solid;
    padding-left: 10px;
}

.presentacion-derecha p {
    font-size: 1.5vw;
    text-align: justify;
}

.uno {
    padding-top: 35px;
}

.logos {
    display: flex;
    justify-content: center;
    padding-top: 40px;

}

.logos img {
    width: 8vw;
    padding: 18px;

}

.carousel {
    box-shadow: 10px 10px 12px 12px rgb(0, 0, 0, .5);
    z-index: 0;
    margin: 0px 50px 50px 50px;
}

.carousel p {
    background: rgb(90, 90, 90, .3);
    margin-left: 80px;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, .2);
}

.carousel h5 img {
    width: 18px;
    margin-right: 6px;
    margin-bottom: 5px;
}

.title-proyectos {
    margin-left: 12vw;
    margin-top: 100px;
    padding-left: 15px;
    font-size: 3.5vw;
    border-left: #3498db 5px solid;
    margin-bottom: 30px;
}


.title-form h2 {
    font-size: 3.5em;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 100px;

}

.title-form h2:before {
    content: "";
    border-left: #3498db 5px solid;
    margin-right: 5px;
}

.info {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 40px;
    justify-content: center;
}

.direccion {
    background: #fff;
    margin: 0px 50px 100px 0px;
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    width: 100%;
    font-family: "Open Sans", sans-serif;

}

.email {
    background: #fff;
    margin: 0px 50px 100px 0px;
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.tel {
    background: #fff;
    margin: 0px 0px 100px 0px;
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

form {
    background: #fff;
    margin: 0px 50px 100px 0px;
    color: #444;
    display: flex;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;

}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 140px;
}

.info img {
    width: 80px;
    margin-bottom: 20px;
}

.arriba {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;

}

.arriba input {
    width: 45%;
    height: 40px;

}

.abajo {
    width: 93.2%;
    margin-top: 20px;

}

.abajo input {
    width: 100%;
    height: 40px;
    margin-left: 3.7%;
}

form textarea {
    width: 93.2%;
    margin-left: 3.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

form input::placeholder {
    padding-left: 5px;
}

form input:focus {
    color: #555;
    padding-left: 5px;
    background: linear-gradient(to bottom, transparent, #3498db43);
    outline: none;
    overflow: none;
    border: 1px rgba(85, 85, 85, 0.638) solid;
}

form textarea::placeholder {
    padding-left: 5px;
}

form textarea:focus {
    color: #555;
    padding-left: 5px;
    background: linear-gradient(to bottom, transparent, #3498db43);
    outline: none;
    overflow: none;
    border: 1px rgba(85, 85, 85, 0.638) solid;
}

.derechos img{
    width: 20px;
    margin-right: -4px;
    margin-bottom: 5px;
}

.derechos span{
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    background: rgb(255, 255, 255) ;
    box-shadow: 0px 7px 34px -5px #5d9ac2;
}

.redes img{
    width: 25px;
}

.redes{
    width: 140px;
    display: flex;
    justify-content: space-between;
}

@keyframes empecemos {
    0% {
        color: #3498db;
    }

    50% {
        color: #4fa9e6;
        background: #3498db;
    }

    100% {
        color: #FFF;
        background: #3498db;
    }
}